body {
    background-color: white;
    padding: 15px;
    margin: 0px;
}

a {
    color: red;
}
main{
    background-color: white;
    padding:0px;
    margin: 0px;
    
}
footer{
    padding:0px;
    margin: 0px;
    background-color: white;
}




/*Comentario de prueba*/